@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --background-header: #F7F7F7;
    --background-header-open: #F2F2F2;
    --main-color: #CB3030;
    --color-text: #000;
    --color-text-white: #fff;
}
#hover {
    font-weight: 600;
    color: var(--main-color);
}
nav img {
    width: 200px;
}
nav {
    height: 80px;
    background-color: var(--background-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0.2px 0.2px 2px;
}
nav ul {
    display: flex;
    list-style: none;
    padding-right: 15px;
}
nav ul li a {
    color: var(--color-text);
    text-decoration: none;
    margin: 0 5px;
    letter-spacing: 2;
}
nav ul li a:hover,
nav ul li a.activate {
    color: var(--main-color);
    transition: 0.5s;
}
nav .menu-btn i{
    color: var(--color-text);
    font-size: 25px;
    cursor: pointer;
    display: none;
}
#click {
    display: none;
}
#click:checked ~ ul {
    left: 0%;
}
#click:checked ~ .menu-btn i:before {
    content: "\f00d";
    
}
/* INICIO */
.inicio {
    background-color: #e7e7e7;
    height: 91vh;
    overflow: hidden;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#inicio-image {
    float: right;
    display: flex;
    width: 600px;
    animation-name: NaveEspacial;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
#inicio-text-h1 {
    font-size: 80px;
}
#inicio-text-h2 {
    font-size: 40px;
    font-weight: 200;
}
/* TEAMS */
.equipos {
    min-height: 50px;
    background-color: var(--background-header-open);
    padding: 20px;
    text-align: center;
}
.teams {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* TEAM 1*/
#team-1 {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: var(--color-text);
    margin-left: 20px;
}
#team-1-text {
    font-size: 50px;
    font-weight: 600;
    color: var(--main-color);
}
.team-1 {
    display: flex;
    align-items: center;
    padding: 20px;
}
/* TEAM 2*/
#team-2 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--color-text);
    margin-left: 20px;
}
#team-2-text {
    font-size: 30px;
    font-weight: 600;
}
.team-2 {
    display: flex;
    align-items: center;
    padding: 20px;
}
/* TEAM 3*/
#team-3 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--color-text);
    margin-left: 20px;
}
#team-3-text {
    font-size: 30px;
    font-weight: 600;
}
.team-3 {
    display: flex;
    align-items: center;
    padding: 20px;
}
@keyframes NaveEspacial {
   0% {
    transform: translateY(0);
   }
   10% {
    transform: translateY(40px);
   }
   20% {
    transform: translateY(-20px);
   }
   30% {
    transform: translateY(10px);
   }
   40% {
    transform: translateY(30px);
   }
   50% {
    transform: translateY(-30px);
   }
   60% {
    transform: translateY(20px);
   }
   70% {
    transform: translateY(-60px);
   }
   80% {
    transform: translateY(-10px);
   }
   90% {
    transform: translateY(20);
   }
   100% {
    transform: translateY(0);
   }
   100% {
    transform: translateY(0);
   }
}
@media (max-width: 940px) {
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: var(--background-header-open);
        height: 100%;
        width: 100%;
        display: block;
        text-align: center;
        transition: 0.4s;
    }
    nav ul li {
        margin: 40px 0;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav ul li a:hover,
    nav ul li a.activate {
        color: var(--main-color);
    }    
    nav .menu-btn i {
        display: block;
    }
/* INICIO */
.inicio {
    background-color: #e7e7e7;
    height: 80vh;
    text-align: center;
    align-items: baseline;
}
#inicio-text-h1 {
    font-size: 40px;
}
#inicio-text-h2 {
    font-size: 20px;
    font-weight: 200;
}
#inicio-image {
    display: none;
}
/* TEAM 1*/
.teams {
    display: flex;
    justify-content: center;
    align-items: center;
}
#team-1 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--color-text);
    margin-left: 20px;
}
#team-1-text {
    font-size: 20px;
    font-weight: 600;
}
.team-1 {
    display: flex;
    align-items: center;
    padding: 20px;
}
/* TEAM 2*/
.leaderboard-text {
    font-size: 20px;
}
#inicio-text-h1 {
    font-size: 34px;
}
#inicio-text-h2 {
    font-size: 16px;
    font-weight: 200;
}
#team-2 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--color-text);
    margin-left: 20px;
}
#team-2-text {
    font-size: 10px;
    font-weight: 600;
}
.team-2 {
    display: flex;
    align-items: center;
    padding: 20px;
}
/* TEAM 3*/
#team-3 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--color-text);
    margin-left: 20px;
}
#team-3-text {
    font-size: 10px;
    font-weight: 600;
}
.team-3 {
    display: flex;
    align-items: center;
    padding: 20px;
}

}
