@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
:root {
    --background-header: #F7F7F7;
    --background-header-open: #F2F2F2;
    --main-color: #CB3030;
    --color-text: #000;
    --color-text-white: #fff;
    --background-body: #e7e7e7;
}
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#twitter {
    width: 2vw;
}
#instagram  {
    width: 2vw;
    margin-left: 1vw;
}
#hover {
    font-weight: 600;
    color: var(--main-color);
}
header {
    position: fixed;
    width: 100%;
    z-index: 10000;
}
.ul-header {
    margin-top: 5px;
    font-size: 1vw;
}
.redes-sociales {
    margin-left: 2vw;
    display: flex;
}
nav img {
    width: 10vw;
}
nav {
    height: 4vw;
    background-color: var(--background-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0.2px 0.2px 2px;
}
nav ul {
    display: flex;
    list-style: none;
    padding-right: 15px;
}
nav ul li a {
    color: var(--color-text);
    text-decoration: none;
    margin: 0 5px;
    letter-spacing: 2;
    margin-left: 1vw;
}
nav ul li a:hover,
nav ul li a.activate {
    color: var(--main-color);
    transition: 0.5s;
}
nav .menu-btn i{
    color: var(--color-text);
    font-size: 25px;
    cursor: pointer;
    display: none;
}
#click {
    display: none;
}
#click:checked ~ ul {
    left: 0%;
}
#click:checked ~ .menu-btn i:before {
    content: "\f00d";
    
}
/* INICIO */
.inicio {
    background-color: #e7e7e7;
    height: 91vh;
    overflow: hidden;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#inicio-image {
    float: right;
    display: flex;
    width: 30vw;
    animation-name: NaveEspacial;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
#inicio-text-h1 {
    font-size: 6vw;
}
#inicio-text-h2 {
    font-size: 3vw;
    font-weight: 200;
}
/* TEAMS */
.leaderboard-text {
    font-size: 2vw;
}
.equipos {
    min-height: 50px;
    background-color: var(--background-header-open);
    padding: 50px;
    text-align: center;
}
.teams {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* TEAM 1*/
#team-1 {
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: var(--color-text);
    margin-left: 20px;
}
#team-1-text {
    font-size: 3vw;
    font-weight: 600;
    color: var(--main-color);
}
.team-1 {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 5vw;
    padding-right: 5vw;
}
/* TEAM 2*/
#team-2 {
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    background-color: var(--color-text);
    margin-left: 20px;
}
#team-2-text {
    font-size: 3vw;
    font-weight: 600;
}
.team-2 {
    display: flex;
    align-items: center;
    padding: 20px;
}
/* TEAM 3*/
#team-3 {
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    background-color: var(--color-text);
    margin-left: 20px;
}
#team-3-text {
    font-size: 3vw;
    font-weight: 600;
}
.team-3 {
    display: flex;
    align-items: center;
    padding: 20px;
}
@keyframes NaveEspacial {
   0% {
    transform: translateY(0);
   }
   25% {
    transform: translateY(30px);
   }
   25% {
    transform: translateY(-30px);
   }
   100% {
    transform: translateY(0);
   }
}
/* Valorant */
.body-valorant {
    padding: 120px;
}
.valorant {
   background-color: var(--background-body);
   min-height: 30vh;
   width: 36%;
   padding: 30px;
   box-shadow: 0px 2px 7px #a1a1a1;
   border-radius: 20px;
}
.valorant h2 {
    font-size: 2.1vw;
}
.a-valorant {
    padding-top: 20px;
}
.valorant a {
    font-size: 1.2vw;
    text-decoration: none;
    color: var(--color-text);
    border: solid 10px #F2F2F2;
    border-radius: 20px;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 0px 2px 7px #a1a1a1;
    background-color: var(--background-header-open);
}
.valorant-image {
    width: 18.2vw;
    position: relative;
    top: -360px;
    right: -450px
}
/*lol
.body-lol {
    padding: 120px;
}
.lol {
   background-color: var(--background-body);
   min-height: 30vh;
   width: 36%;
   padding: 30px;
   box-shadow: 0px 2px 7px #a1a1a1;
   border-radius: 20px;
}
.lol h2 {
    font-size: 50px;
    text-align: right;
}
.a-lol {
    padding-top: 20px;
    text-align: right;
}
.lol a {
    font-size: 30px;
    text-decoration: none;
    color: var(--color-text);
    border: solid 10px #F2F2F2;
    border-radius: 20px;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 0px 2px 7px #a1a1a1;
    background-color: var(--background-header-open);
}
.lol-image {
    width: 800px;
    position: relative;
    top: -360px;
    right: 190px;
}
*/

@media (max-width: 940px) {
    .redes-sociales {
        margin-left: 0px;
        display: block;
    }
    #instagram {
        margin-left: 0;
        margin-top: 0px;
    }
    nav img {
        width: 27vw;
        margin-top: 7px;
    }
    nav ul {
        position: fixed;
        top: 11vw;
        left: -100%;
        background: var(--background-header-open);
        height: 100%;
        width: 100%;
        display: block;
        text-align: center;
        transition: 0.4s;
    }
    nav ul li {
        margin: 40px 0;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav ul li a:hover,
    nav ul li a.activate {
        color: var(--main-color);
    }    
    nav .menu-btn i {
        display: block;
    }
/* INICIO */
.inicio {
    background-color: -background-body;
    height: 80vh;
    text-align: center;
    align-items: baseline;
}
#inicio-text-h1 {
    font-size: 40px;
}
#inicio-text-h2 {
    font-size: 20px;
    font-weight: 200;
}
#inicio-image {
    display: none;
}
/* TEAM 1*/
.teams {
    display: flex;
    justify-content: center;
    align-items: center;
}
#team-1 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--color-text);
    margin-left: 20px;
}
#team-1-text {
    font-size: 20px;
    font-weight: 600;
}
.team-1 {
    display: flex;
    align-items: center;
    padding: 20px;
}
/* TEAM 2*/
.leaderboard-text {
    font-size: 20px;
}
#inicio-text-h1 {
    font-size: 34px;
}
#inicio-text-h2 {
    font-size: 16px;
    font-weight: 200;
}
#team-2 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--color-text);
    margin-left: 20px;
}
#team-2-text {
    font-size: 10px;
    font-weight: 600;
}
.team-2 {
    display: flex;
    align-items: center;
    padding: 20px;
}
/* TEAM 3*/
#team-3 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--color-text);
    margin-left: 20px;
}
#team-3-text {
    font-size: 10px;
    font-weight: 600;
}
.team-3 {
    display: flex;
    align-items: center;
    padding: 20px;
}

}
