@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
:root {
    --background-header: #F7F7F7;
    --background-header-open: #F2F2F2;
    --main-color: #CB3030;
    --color-text: #000;
    --color-text-white: #fff;
    --background-body: #e7e7e7;
}
body {
    background-color: var(--background-body);
}
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
footer {
    background-color: var(--background-header);
    text-align: left;
    display: block;
}
footer p{
    margin-left: 3vw;
    font-size: 1.2vw;
}
#twitter {
    font-size: 2vw;
}
#instagram  {
    font-size: 2vw;
    margin-left: 1vw;
}
#hover {
    font-weight: 600;
    color: var(--main-color);
}
header {
    width: 100%;
    z-index: 10000;
}
.ul-header {
    margin-top: 5px;
    font-size: 1vw;
}
.redes-sociales {
    margin-left: 2vw;
    display: flex;
}
nav img {
    width: 10vw;
}
nav {
    height: 4vw;
    background-color: var(--background-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0.2px 0.2px 2px;
}
nav ul {
    display: flex;
    list-style: none;
    padding-right: 15px;
}
nav ul li a {
    color: var(--color-text);
    text-decoration: none;
    margin: 0 5px;
    letter-spacing: 2;
    margin-left: 1vw;
}
nav ul li a:hover,
nav ul li a.activate {
    color: var(--main-color);
    transition: 0.5s;
}
nav .menu-btn i{
    color: var(--color-text);
    font-size: 25px;
    cursor: pointer;
    display: none;
}
#click {
    display: none;
}
#click:checked ~ ul {
    left: 0%;
}
#click:checked ~ .menu-btn i:before {
    content: "\f00d";
    
}
/* INICIO */
.inicio {
    background-color: #e7e7e7;
    height: 100vh;
    overflow: hidden;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#inicio-image {
    float: right;
    display: flex;
    width: 30vw;
    animation-name: NaveEspacial;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
#inicio-text-h1 {
    font-size: 6vw;
}
#inicio-text-h2 {
    font-size: 3vw;
    font-weight: 200;
}
/* TEAMS */
.leaderboard-text {
    font-size: 2vw;
}
.equipos {
    min-height: 50px;
    background-color: var(--background-header-open);
    padding: 50px;
    text-align: center;
}
.teams {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* TEAM 1*/
#team-1 {
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: var(--color-text);
    margin-left: 20px;
}
#team-1-text {
    font-size: 3vw;
    font-weight: 600;
    color: var(--main-color);
}
.team-1 {
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 5vw;
    padding-right: 5vw;
}
/* TEAM 2*/
#team-2 {
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    background-color: var(--color-text);
    margin-left: 20px;
}
#team-2-text {
    font-size: 3vw;
    font-weight: 600;
}
.team-2 {
    display: flex;
    align-items: center;
    padding: 20px;
}
/* TEAM 3*/
#team-3 {
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    background-color: var(--color-text);
    margin-left: 20px;
}
#team-3-text {
    font-size: 3vw;
    font-weight: 600;
}
.team-3 {
    display: flex;
    align-items: center;
    padding: 20px;
}
@keyframes NaveEspacial {
   0% {
    transform: translateY(0);
   }
   25% {
    transform: translateY(30px);
   }
   25% {
    transform: translateY(-30px);
   }
   100% {
    transform: translateY(0);
   }
}


@media (max-width: 940px) {
    .redes-sociales {
        margin-left: 0px;
        display: block;
    }
    .top {
        padding-top: 8vw;
    }
    #twitter {
        width: 6vw;
    }
    #instagram  {
        width: 6vw;
    }
    nav img {
        width: 120px;
        margin-top: 7px;
    }
    nav ul {
        position: fixed;
        top: 6.7%;
        left: -100%;
        background: var(--background-header-open);
        height: 100%;
        width: 100%;
        display: block;
        text-align: center;
        transition: 0.4s;
    }
    nav ul li {
        margin: 40px 0;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav ul li a:hover,
    nav ul li a.activate {
        color: var(--main-color);
    }    
    nav .menu-btn i {
        display: block;
    }
/* INICIO */
.inicio {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: block;
}
.inicio-text {
    justify-content: center;
    text-align: center;
}
#inicio-text-h1 {
    font-size: 40vw;
}
#inicio-text-h2 {
    font-size: 20px;
    font-weight: 200;
}
#inicio-image {
    float: initial;
    width: 40vw;
    margin-top: 20vw;
    display: block;
	margin-left: auto;
	margin-right: auto;
}

/* TEAM 1*/
.teams {
    display: flex;
    justify-content: center;
    align-items: center;
}
#team-1 {
    height: 14vw;
    width: 14vw;
    border-radius: 50%;
    background-color: var(--color-text);
    margin-left: 20px;
}
#team-1-text {
    font-size: 7vw;
    font-weight: 600;
}
.team-1 {
    display: flex;
    align-items: center;
    padding: 20px;
}
/* TEAM 2*/
.leaderboard-text {
    font-size: 5vw;
}
#inicio-text-h1 {
    margin-top: 7vw;
    font-size: 10vw;
}
#inicio-text-h2 {
    font-size: 4vw;
    font-weight: 200;
}
#team-2 {
    height: 11vw;
    width: 11vw;
    border-radius: 50%;
    background-color: var(--color-text);
    margin-left: 20px;
}
#team-2-text {
    font-size: 5vw;
    font-weight: 600;
}
.team-2 {
    display: flex;
    align-items: center;
    padding: 20px;
}
/* TEAM 3*/
#team-3 {
    height: 11vw;
    width: 11vw;
    border-radius: 50%;
    background-color: var(--color-text);
    margin-left: 20px;
}
#team-3-text {
    font-size: 5vw;
    font-weight: 600;
}
.team-3 {
    display: flex;
    align-items: center;
    padding: 20px;
}

}

